@model Entidades.Negocio.Poliza

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Poliza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPoliza" />
            <div class="form-group">
                <label asp-for="FechaCoverturaI" class="control-label"></label>
                <input asp-for="FechaCoverturaI" class="form-control" />
                <span asp-validation-for="FechaCoverturaI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCoverturaF" class="control-label"></label>
                <input asp-for="FechaCoverturaF" class="form-control" />
                <span asp-validation-for="FechaCoverturaF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumPoliza" class="control-label"></label>
                <input asp-for="NumPoliza" class="form-control" />
                <span asp-validation-for="NumPoliza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Factura" class="control-label"></label>
                <input asp-for="Factura" class="form-control" />
                <span asp-validation-for="Factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotValAsegurado" class="control-label"></label>
                <input asp-for="TotValAsegurado" class="form-control" />
                <span asp-validation-for="TotValAsegurado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotValPrima" class="control-label"></label>
                <input asp-for="TotValPrima" class="form-control" />
                <span asp-validation-for="TotValPrima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <select asp-for="IdPersona" class="form-control" asp-items="ViewBag.IdPersona"></select>
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
